<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{{>header}}


<body>

  <div class="container"><br>
<h2 class="text-center">Voter List</h2><br>
<table class="table table-dark table-striped">
	<thead>
	<tr>
		<th>Sno.</th>
		<th>Name</th>
		<th>Contact Number</th>
		<th>Aadhar Card Number</th>
	</tr>
	</thead>
  <tbody>
	{{#each registers}}
  {{var i=0}}
	<tr>
		<td>{{@index}}</td>
		<td>{{this.name}}</td>
		<td>{{this.contact}}</td>
		<td>{{this.aadhar}}</td>
	</tr>
	</tbody>

      </div>
      {{/each}}
	  
</body>
    
</html>